<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create new entry</title>
</head>
<body>
    <h1>Create new movie entry</h1><br>

    <form action="createNewEntryValidation">
        Provide title<br>
        <input type="text" name="title" id="title" required><br>
        Provide description<br>
        <input type="text" name="description" id="description" required><br>
        Provide difficulty<br>
        <input type="number" name="difficulty" id="difficulty" min="1" max="10" required><br>
        Provide relevant topics<br>
        <input type="text" name="relevantTopics" id="relevantTopics" ><br>
        Provide time spent<br>
        <input type="number" name="timeSpent" id="timeSpent" required><br>
        <br>
        <input type=submit value="Submit">
    </form>
</body>
</html>