<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Journal home page</title>
</head>
<body>
    Welcome<br><br>

    <tr th:each="entry : ${entries}">
        <td><b>Title</b>: </td>
        <td th:text="${entry.title}"> </td><br>
        <td><b>Description</b>: </td>
        <td th:text="${entry.description}"></td><br>
        <td><b>Date</b>: </td>
        <td th:text="${entry.date}"></td><br>
        <td><b>Time spent</b>: </td>
        <td th:text="${entry.timeSpent}"></td><br>
        <td><b>Relevant topics</b>: </td>
        <td th:text="${entry.relevantTopics}"></td><br><br>
    </tr>
</body>
</html>